body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    background: url("../images/design-development-electronics-med.jpg");
}

.container {
    position: fixed;
    left: 25%;
    bottom: 0;
    background-color: lightgrey;
    width: 600px;
    border: 15px solid rgb(146, 198, 171);
    padding: 50px;
    margin: 20px;
    /* font-weight: bold; */
    /* font-size: 40px; */
    color: rgba(255, 253, 240, 0.829);
    /* line-height: 50px; */
    background: hsl(28, 67%, 59%);
    max-width: 450px;
    /* max-height: 800px; */
    margin-left: 0px;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 5px;
    /* height: 50px; */
}

h1 {
  font-weight: bold;
  font-size: 40px;
  color: rgb(78, 223, 233);
}
#time-remaining {
  font-weight: bold;
  color: rgb(159, 235, 206);
}


.button {
  background: hsl(38, 35%, 58%);
  border: none;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  transition-duration: 1s;
}
.button:hover,
.button.selected {
  border: aliceblue;
  background-color: rgb(175, 106, 76); /* Green */
  color: aliceblue;
}
#grade {
  text-decoration: none;
  color: green;
}
footer {
  position: fixed;
  left: 25%;
  bottom: 0;
  background-color: lightgrey;
  width: 450px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
  color: rgba(255, 253, 240, 0.829);
  background: hsl(28, 67%, 59%);
  max-width: 450px;
  margin-left: 0px;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 5px;
  visibility: hidden;
}

  